header {
    width: 100%;
}

.page-wrapper {
    padding-top: 15px;
}

.topbar .top-navbar {
    min-height: 60px;
    height: 60px;
}

.sidebar-nav {
    padding-left: 15px;
    padding-right: 15px;
}

#sidebarnav {
    padding-top: 15px;
}

.section-box-eleven{
    height: 230px;
    background: radial-gradient(#6e6e6e,#2f2f2f);
    background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
    background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
    color: #fff;
    position: relative;
    overflow:hidden;
}
.section-box-eleven figure {
    position: absolute;
    width: 100%;
    bottom: -25%;
    transition: ease-in-out .5s;
    background: rgba(0, 0, 0, 0.71);
}
.section-box-eleven:hover figure {
    bottom: 0;
}
.section-box-eleven img{
    height: 100%;
}

.rotate{
    -moz-transition: all .5 linear;
    -webkit-transition: all .5 linear;
    transition: all .5 linear;
}

.rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
