/*
Template Name: Material Pro Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Material Pro Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}

.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}

/*******************
/*Top bar
*******************/
.topbar {
  /* background: #0CC27E; */
  background: linear-gradient(to right, #0CC27E 0%, #2f3d4a 100%);
  /* Old browsers */
  /* background: -moz-linear-gradient(left, #0CC27E 0%, #660fb5 100%); */
  /* FF3.6-15 */
  /* background: -webkit-linear-gradient(left, #0CC27E 0%, #660fb5 100%); */
  /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to right, #0CC27E 0%, #660fb5 100%); */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
  display: none;
}

.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
}

.topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

.topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover, .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
  color: #ffffff !important;
}

/*******************
/*General Elements
*******************/
a {
  color: #0CC27E;
}

a.link:hover, a.link:focus {
  color: #0CC27E !important;
}

.bg-theme {
  background-color: #0CC27E !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #0CC27E;
  border-color: #0CC27E;
}

.right-sidebar .rpanel-title {
  background: #0CC27E;
}

.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
  border-left: 4px solid #0CC27E;
}

.text-themecolor {
  color: #0CC27E !important;
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
  border-bottom: 2px solid #0CC27E;
  color: #0CC27E;
}

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
  color: #0CC27E;
}

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
  background: #0CC27E;
  color: #ffffff;
  border: 1px solid #0CC27E;
}

.btn-themecolor:hover,
.btn-themecolor.disabled:hover {
  background: #0CC27E;
  opacity: 0.7;
  border: 1px solid #0CC27E;
}

.btn-themecolor.active, .btn-themecolor:focus,
.btn-themecolor.disabled.active,
.btn-themecolor.disabled:focus {
  background: #0CC27E;
}

/*******************
/*sidebar navigation
*******************/
.sidebar-nav {
  background: #fff;
}

.sidebar-nav ul li a {
  color: #607d8b;
}

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
  color: #0CC27E;
}

.sidebar-nav ul li a.active {
  color: #263238;
}

.sidebar-nav ul li.nav-small-cap {
  color: #99abb4;
}

.sidebar-nav > ul > li.active > a, .sidebar-nav > ul > li.active:hover > a {
  color: #ffffff;
  background: linear-gradient(to right, #2f3d4a 0%, #0CC27E 100%);
}

.sidebar-nav > ul > li.active > a i, .sidebar-nav > ul > li.active:hover > a i {
  color: #ffffff;
}

.sidebar-nav > ul > li.active > a:after, .sidebar-nav > ul > li.active:hover > a:after {
  border-color: #ffffff;
}

.sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
  color: #0CC27E;
}

.sidebar-nav > ul > li > a i {
  color: #99abb4;
}

.sidebar-nav > ul > li > a.active {
  font-weight: 400;
  background: #ffffff;
  color: #0CC27E;
}

.mini-sidebar .sidebar-nav #sidebarnav>li:hover>a {
    background: linear-gradient(to right, #2f3d4a 0%, #0CC27E 100%);
}
